*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4F6F52;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1 rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #E8DFCA;
}
.reset-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #E8DFCA;
    color: #803D3B;
}
.Winning_MSG{
    font-size: 8vmin;
    color: #E8DFCA;
    font-weight: 400;
}
.hide{
    display: none;
}
.new-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-left: 3vmin;
    background-color: #E8DFCA;
    color: #803D3B;
}
